<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.dot166.focuslock"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>

    <application
        android:name=".core.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage"/>
            <meta-data
                android:name="com.android.settings.group_key"
                android:value="top_level_security_privacy_category"/>
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/settings_summary"/>
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/settings_entry_point_title"/>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@mipmap/ic_launcher"/>
            <meta-data
                android:name="com.android.settings.icon_color_scheme"
                android:value="pink"/>
            <meta-data
                android:name="com.android.settings.bg.hint"
                android:resource="@color/settings_background_icon_color"/>
            <meta-data
                android:name="com.android.settings.profile"
                android:value="all_profiles"/>
        </activity>

        <activity android:name=".ui.activity.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.BlockScreenActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />

        <service android:name=".core.AppBlockService"
            android:foregroundServiceType="specialUse"/>

        <receiver android:name=".core.BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_INITIALIZE"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".core.AppBlockerAccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/app_blocker_service_config" />
        </service>
    </application>

</manifest>
